body{
    background-color: lightblue;
    font-family: Arial;
    margin:10px;
}
table{
    background-color: coral;
    text-align: center ;
    border: 2px solid black;
    padding: 10px;
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}
th,td{border: solid 1px black;}